* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  body{
    background-color: rgba(0, 0, 0, 0.473);
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 7rem;
 
  }
  
  main nav ul {
    display: flex;
     background-color: #eee;
     border: 1px solid;

   }
  
  main nav ul li {
     width: 100%;
     padding: 12px;
     text-align: center;
    font-size: 28px;
    font-weight: bolder;
     cursor: pointer;
    background-color: white;
    border-bottom: none;

  }
  
  main nav ul .active {
    background-color: white;
     border-bottom: none; 
    border-bottom: 3px solid rgb(33, 33, 34);

  }
  .timer__div{
    background-color: white;
    border: 1px solid  #333333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 1px solid;

  }
  input{
    border: none;
    outline: none;
    text-align: center;
    width: 44px;
     height: 44px;
  }

  #Seconds{
    border-left:1px solid #333333 ;

  }
  .contant{
    width: 60%;
    margin: auto;
    margin-top: 3rem;
  }
  main .container > div {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    height: 300px;
    padding: 25px;
    display: none;
    border: 1px solid rgb(15, 42, 92);
  }
  
  main .container > .active {
    display: flex;
  }
  
  main .container > div * {
    margin: 8px;
  }
  
.all_button{
    margin-top: 2rem !important;
}
  .starts{
background-color: rgba(0, 0, 255, 0.605);
border-radius: 8px;
color: white;
border: none;
  }
  .stops{
    background-color: rgb(195, 55, 55);
    border-radius: 8px;
    border: none;
    color: white;

  }
  .rests{
    border-radius: 8px;
    border: none;
  }
  .time {
    display: flex;
   
  }
   .time h5 {
    border-left: 1px solid #333333;
    padding-top: 10px;
    padding-left: 15px;
  }
  
  button {
     width: 140px;
     font-size: 18px;
    height: 55px;
    cursor: pointer;
  }
  